/* @media (min-width: 576px) { */

/* } */

@media (max-width: 576px) {
    .hide-xs {
        display: none;
    }
}

@media (max-width: 768px) {
    .hide-sm-and-down {
        display: none;
    }
    #msgColumn, #chatColumn {
        -webkit-animation: scale-in 0.1s linear;
        -o-animation: scale-in 0.1s linear;
        -moz-animation: scale-in 0.1s linear;
        animation: scale-in 0.1s linear;
    }
}

@media (min-width: 769px) {
    .placeOwner, .message {
        -webkit-animation: slide-down 0.3s linear;
        -o-animation: slide-down 0.3s linear;
        -moz-animation: slide-down 0.3s linear;
        animation: slide-down 0.3s linear;
    }
}

@media (max-width: 992px) {
    .hide-md-and-down {
        display: none;
    }
}

.pack {
    height: 100vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.placeHolder {
    background-color: rgba(229, 236, 236, 0.582);
    font-size: 1.7rem;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: rgb(152, 177, 179) 2px 2px 3px;
}

#msgColumn, #chatColumn, #othersColumn {
    height: 100% !important;
    overflow: hidden;
}

#othersColumn {
    background-color: rgba(185, 209, 208, 0.267);
}

#othersColumn ul {
    list-style: none;
    padding-left: 0;
    font-size: 12px;
    text-transform: uppercase;
}

#othersColumn li {
    background-color: rgb(252, 252, 252);
    border-radius: 8px;
    padding: 8px 15px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#othersColumn li:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#msgBox img, #chatHead img {
    min-width: 3.4rem;
    width: 3.4rem;
    height: 3.4rem;
    border: double rgb(175, 132, 180) 4px;
}

#msgHead {
    background-color: rgba(160, 192, 190, 0.267);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

#msgHead:hover, #chatHead:hover {
    cursor: default;
}

#msgHead img {
    border: white 4px double;
    width: 3rem;
    height: 3rem;
}

#msgHead input {
    -webkit-animation: scale-in 0.1s linear both;
    -o-animation: scale-in 0.1s linear both;
    -moz-animation: scale-in 0.1s linear both;
    animation: scale-in 0.1s linear both;
}

#msgHead .mdi, #chatHead .mdi {
    color: rgb(122, 59, 141);
    font-size: 30px;
}

#msgHead a, #chatHead a {
    min-width: 2.2rem;
    box-shadow: none;
    background-color: white;
}

#msgHead a:hover, #chatHead a:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: rgba(175, 141, 175, 0.63);
}

.drop {
    display: none;
    position: absolute;
    left: -100px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
}

.drop a {
    color: rgb(148, 91, 148);
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.drop a:hover {
    color: white;
    background-color: rgba(87, 118, 139, 0.596);
}

.dropOptions {
    position: relative;
}

.dropOptions:hover .drop {
    display: block;
    animation: ease-out 0.5s drop;
    -o-animation: ease-out 0.5s drop;
    -webkit-animation: ease-out 0.5s drop;
}

.scroller {
    overflow: scroll !important;
    max-height: calc(100vh - 105px);
}

#msgBox #msgList {
    background-color: rgba(237, 245, 244, 0.39);
    border-radius: 10px;
    height: 80px;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.2s;
}

#msgBox #msgList:hover {
    background-color: rgba(160, 192, 190, 0.267);
    cursor: default;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

#msgBox hr {
    margin-left: 5rem;
}

#chatHead {
    border-radius: 10px;
    border: rgba(160, 192, 190, 0.267) solid 1px;
    background-color: white;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

#chatBox {
    background-color: rgba(160, 192, 190, 0.267);
    min-height: 100%;
}

#chatBox .conversation-container {
    max-height: calc(100vh - 169px);
    box-shadow: inset 0 8px 8px -10px #000000;
    overflow-x: hidden;
    padding: 0 16px;
    margin-bottom: 5px;
}

.inputBox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 57px;
    width: 100%;
    z-index: 2;
}

.inputBox div, .inputBox input {
    background: #fff;
    height: 100%;
}

.inputBox .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px 0 0 5px;
    flex: 0 0 auto;
    margin-left: 8px;
    width: 35px;
}

.inputBox .input-msg {
    border: 0;
    flex: 1 1 auto;
    font-size: 16px;
    margin: 0;
    outline: none;
    min-width: 50px;
}

.inputBox .rightIcon {
    flex: 0 0 auto;
    border-radius: 0 0 5px 0;
    text-align: center;
    position: relative;
    width: 35px;
}

.inputBox .rightIcon:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    top: 0;
    right: -10px;
}

.inputBox .rightIcon i {
    display: block;
    color: #7d8488;
    font-size: 24px;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
}

.inputBox .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 4px;
    margin-right: 3px;
    padding: 0;
    position: relative;
    outline: none;
}

.inputBox .send .circle {
    background-color: #008a7c;
    border-radius: 50%;
    color: #fff;
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox .send .circle i {
    font-size: 24px;
}

.message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
}

.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
}

.metadata {
    /* display: inline-block; */
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
}

.metadata .time {
    font-size: 10px;
    display: inline-block;
    text-shadow: black 0px 1px 3px;
}

.message:first-child {
    margin: 16px 0 8px;
}

.message.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: left;
}

.message.received .metadata {
    padding: 0 0 0 16px;
}

.message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
}

.message.sent {
    background-color: teal;
    color: white;
    border-radius: 5px 0px 5px 5px;
    float: right;
}

.message.sent .time {
    color: gainsboro;
}

.message.received .time {
    color: rgb(65, 61, 61);
}

.message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent teal;
    top: 0;
    right: -10px;
}

::-webkit-scrollbar {
    transition: all .5s;
    width: 3px;
    height: 1px;
    z-index: 10;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c2bfbb;
}

/* #chatBox .conversation-container:after {
    content: "";
    display: table;
    clear: both;
} */

/* Messages */

/* 
.metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
}

.metadata .tick svg {
    position: absolute;
    transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
    -webkit-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
    -webkit-transform: perspective(800px) rotateY(-179.9deg);
    transform: perspective(800px) rotateY(-179.9deg);
} */

@keyframes drop {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translate(0, -500px);
        -webkit-transform: translate(0, -500px);
        -moz-transform: translate(0, -500px);
        -ms-transform: translate(0, -500px);
        -o-transform: translate(0, -500px);
    }
    100% {
        opacity: 1;
    }
}

.transition {
    transition: all linear 1s;
    -moz-transition: all linear 1s;
    -webkit-transition: all linear 1s;
    -o-transition: all linear 1s;
}

@-webkit-keyframes scale-in {
    0% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}

@-o-keyframes scale-in {
    0% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scale-in {
    0% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}